////
/// WordPress classes.
///
/// @group  Utilities
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://CustomizePro.com/
////

.wp-caption-text {
	font-size: smaller;
}

.gallery-caption {
	font-size: smaller;
}

.bypostauthor {
	font-size: smaller;
}
